.Messages {
  font-family: 'Arial', sans-serif;
  &-Header {                // This could also be replaced with adding a header class instead of doing the & (see ***&HEADER in Messages.js)
    text-align: center;

  }
}

h1 {
  text-align: center;
}

li {
  list-style: none;
  border: 1px solid #000;

  padding: 1rem 3rem;
  margin: 1rem 0;
}
